{
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "jquery": true,
    "node": true
  },
  "extends": ["airbnb", "airbnb-flow"],
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "flowtype"
  ],
  "parser": "babel-eslint",
  "rules": {
    "max-len" : "off",
    "react/forbid-prop-types": "off",
    "react/prefer-stateless-function": "off",
    "camelcase": "off",
    "no-shadow": "off",
    "no-class-assign": "off",
    "no-trailing-spaces": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "no-mixed-operators": "off",
    "jsx-a11y/label-has-for": "off",
    "class-methods-use-this": "off",
    "react/no-unescaped-entities": "off",
    "react/jsx-space-before-closing": "off",
    "import/no-named-as-default": "off",
    "new-cap": "off"
  },
  "globals": {
    "google": true,
    "window": true,
    "__SOURCE_VERSION__": true
  }
}
