:css
  body {
    background-color: #edecec;
  }

  .email-example {
    background-color: #ffffff;
  }
%h1{:style => "text-align: center"} New Submission From Hexient Labs

.email-example
  %h3{:style => "font-family: arial; color:#009fc2;; text-align: center"} Here's What Your Visitor Entered:

  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tr
      %td{:align => "center", :style => "font-family:Arial, Helvetica, sans-serif; font-size:2px; color:#ffffff;", :valign => "top", :width => "33%"} .
      %td{:align => "center", :valign => "top", :width => "35%"}
        %table{:border => "0", :cellpadding => "20", :cellspacing => "0", :style => "font-family: arial; color:#565458;", :width => "100%"}
          - @submission.data.each_with_index do |data, idx|
            - style = "border-bottom:2px solid #edecec; #{idx == 0 ? 'border-top:2px solid #ededec;' : ''}"
            %tr
              %th{:align => "right", :style => style, :valign => "top"}
                = data.first
              %td{:align => "left", :style => style, :valign => "top"}
                = data.last
      %td{:align => "center", :style => "font-family:Arial, Helvetica, sans-serif; font-size:2px; color:#ffffff;", :valign => "top", :width => "33%"} .
